* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
  min-height: 100vh;
  width: 100vw;
}
/* 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 2px;
} */

button {
  border: none;
  border-radius: 2px;
  padding: 10px;
  margin: 2px;
  background: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
  color: white;
  transition: opacity 5s;
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: grid;
}

.Buttons-Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5px;
}

button:hover.number-keys {
  background: yellow;
  color: black;
}

button:hover.action-buttons {
  background: green;
  color: darkorange;
}

input {
  border: none;
  outline: none;
  padding: 10px 5px;
  text-align: right;
}

input:nth-child(1) {
  border-radius: 15px 15px 0px 0px;
}

input:nth-child(2) {
  border-radius: 0px 0px 15px 15px;
}