* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
  min-height: 100vh;
  width: 100vw;
}

button {
  border: none;
  border-radius: 2px;
  padding: 10px;
  margin: 2px;
  background: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
  color: white;
  transition: opacity 5s;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 300px;
}

.Buttons-Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5px;
}

button {
  padding: 15px;
  border-radius: 5px;
  background: linear-gradient(to right, #e66465, #9198e5);
  transition: 0.5s;
}

button.action-buttons {
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
  color: white;
}

button.equal {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.equal {
  grid-column: span 3;
}

button:hover.number-keys {
  background: rgb(216, 235, 215);
  color: rgb(44, 38, 38);
}

button:hover.action-buttons {
  background: rgb(234, 140, 183);
  color: rgb(242, 239, 235);
}

button:hover.equal {
  background: white;
  color: black;
  transition: 0.5s ease-in-out;
}

input {
  border: none;
  outline: none;
  padding: 10px 5px;
  text-align: right;
  width: 200px;
}

input:nth-child(1) {
  border-radius: 15px 15px 0px 0px;
}

input:nth-child(2) {
  border-radius: 0px 0px 15px 15px;
}